.plage-bg {
    background-image: url("../images/PLAGE.PNG");
    background-size: cover;
}

.blanc {
    background-color: aliceblue;
}
.extra-space {
    margin-top: 40px;
}

.form-check-input:checked {
    background-color: #6c757d; /* gris Bootstrap */
    border-color: #6c757d;
}

.form-check-input:focus {
    box-shadow: none;
    outline: none;
}